.header
    .brand
        img.img-librarian(src='/static/images/librarian.png', alt='librarian')
    .head-title
        h2 Welcome to Library Manager
    nav.navbar-library
        a(href='#books')
            button(type='button') Books
        a(href='#patrons')
            button(type='button') Patrons
        a(href='#loans')
            button(type='button') Loans