.header
    .brand
        img.img-librarian(src='/static/images/librarian.png', alt='librarian')
    .app-title
        h2 Welcome to Library Manager
        h3 Please Select from the Following:
    nav.navbar-library
        a(href='#books') Books
        a(href='#patrons') Patrons
        a(href='#loans') Loans