#books
    .header.books
        .head-title
            h2 Books
        nav#navbar-books
            a.nav-book-update(href='#book-form?page=1') New/Update
            a.nav-book-list-all(href='#book-list-all?page=1') List All
            a.nav-book-list-checkedout(href='#book-list-checkedout?page=1') Loaned
            a.nav-book-list-overdue(href='#book-list-overdue?page=1') Overdue