.head-book
    h2 Books
    ul.navbar-book
        li
            a(href='/books/new') New/Update Book
        li
            a(href="/books?page=1") List All
        li
            a(href="/books?page=1&filter=overdue") List Overdue
        li
            a(href="/books?page=1&filter=checked_out") List Checked Out