form.book-search(action='/book?search=true', method='post')
    .search-grid
        label.title-set(for='title') Title
        input.title-set(type='text', name='title')
        label.author-set(for='author') Author
        input.author-set(type='text', name='author')
        label.genre-set(for='genre') Genre
        input.genre-set(type='text', name='genre')
        label.published-set(for='first_published') First Pub
        input.published-set(type='text', name='first_publshed')
        input.submit(type='submit', value='Search')