body#top
    .header
        a.top.logo(href='/#top')
            img(src='/static/images/librarian.png', alt='librarian')
        h2.app-title Welcome to Library Manager
        h3.head-books Books
        h3.head-patrons Patrons
        h3.head-loans Loans
        a.nav.book-new(href='/book/new') New Book
        a.nav.book-list-all(href='/book?page=1') List All
        a.nav.book-list-co(href='/book?page=1&filter=checked_out') List Checked Out
        a.nav.book-list-od(href='/book?page=1&filter=overdue') List Overdue
        a.nav.patron-new(href='/patron/new') New Patron
        a.nav.patron-list-all(href='/patron?page=1') List All
        a.nav.loan-new(href='/loan/new') New Loan
        a.nav.loan-list-all(href='/loan?page=1') List All
        a.nav.loan-list-co(href='/loan?page=1&filter=checked_out') List Checked Out
        a.nav.loan-list-od(href='/loan?page=1&filter=overdue') List Overdue
    .gap