body
    #top.header
        a.top(href='/#top')
            img.logo(src='/static/images/librarian.png', alt='librarian')
        h1.app-title Welcome to Library Manager
        h3.head-books Books
        h3.head-patrons Patrons
        h3.head-loans Loans
        a.book-new.nav(href='/book/new') New Book
        a.book-list-all.nav(href='/book?page=1') List All
        a.book-list-co.nav(href='/book?page=1&filter=checked_out') List Checked Out
        a.book-list-od.nav(href='/book?page=1&filter=overdue') List Overdue
        a.patron-new.nav(href='/patron/new') New Patron
        a.patron-list-all.nav(href='/patron?page=1') List All
        a.loan-new.nav(href='/loan/new') New Loan
        a.loan-list-all.nav(href='/loan?page=1') List All
        a.loan-list-co.nav(href='/loan?page=1&filter=checked_out') List Checked Out
        a.loan-list-od.nav(href='/loan?page=1&filter=overdue') List Overdue
    .gap