.header.loans
    .head-title
        h2 Loans
    nav#navbar-loans
        a.nav-loan-update(href='#loan-form?page=1') New/Update
        a.nav-loan-list-all(href='#loan-list-all?page=1') List All
        a.nav-loan-list-overdue(href='#loan-list-overdue?page=1') Overdue