.head-loan
    h2 Loans
    ul.navbar-loan
        li
            a(href="/loans/new") New/Update Loan
        li
            a(href="/loans?page=1") List All
        li
            a(href="/loans?page=1&filter=overdue") List Overdue
        li
            a(href="/loans?page=1&filter=checked_out") List Checked Out