#patrons
    .header
        .head-title
            h2 Patrons
        nav#navbar-patrons
            a.nav-patron-update(href='#patron-form?page=1') 
                button(type='button') Update
            a.nav-patron-list(href='#patron-list-all?page=1')
                button(type='button') List All