.card#patron-form
    h2 New/Update Patron
    form
        p.input-set
            label(for='first_name' class="label") First Name
            input#first_name(type='text' class="input")
        p.input-set
            label(for='last_name' class="label") Last Name
            input#last_name(type='text' class="input")
        p.input-set
            label(for='address' class="label")  Address
            input#address(type='text' class="input")
        p.input-set
            label(for='email' class="label") Email
            input#email(type='text' class="input")
        p.input-set
            label(for='library_id' class="label") Library ID
            input#library_id(type='text' class="input")
        p.input-set
            label(for='zip_code' class="label") Zip Code
            input#zip_code(type='text' class="input")
        p
            input(type='submit', value='Save Patron' class="submit")
    include ./_error