.patron-search
    form(action=`/book?page=1&search=true&last_name=${ req.body.last_name ? req.body.last_name : '' }&first_name=${ req.body.first_name ? req.body.first_name : ''}&library_id=${ req.body.library_id ? req.body.library_id : ''}` method="post")
        p
            label(for='last_name') Last Name
            input#last_name(type='text')
        p
            label(for='first_name') First Name
            input#first_name(type='text')
        p
            label(for='library_id') Libary ID
            input#linrary_id(type='text')
        p
            input(type='submit', value='Search')