#patron-listings.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-zoom
        header.w3-container.w3-sand 
            span.w3-button.w3-sand.w3-xlarge.w3-display-topright(onclick="document.getElementById('book-listings').style.display='none'") ×
            h2 Patrons - All
            include ./_table_def.pug
            include ./_table_heads.pug
            include ./_table_rows_books.pug
        .w3-container.w3-amber.w3-padding
            button.w3-button.w3-right.w3-white.w3-border(onclick="document.getElementById('book-listings').style.display='none'") Close
