// home page
extends layout

block content
    body
        // all body content
        #books
            include /includes _book_nav.pug

        #patrons
            include /includes _patron_nav.

        #loans
            include /includes _loan_nav.pug

    footer#action