extends layout

block content
    body
        #books
            include includes/_book_nav.pug

        #patrons
            include includes/_patron_nav.pug

        #loans
            include includes/_loan_nav.pug

    footer#action