extends layout

block content
    body
        if entity = 'book'
            #books
                include includes/_book_nav.pug

        else if entity = 'patron'
            #patrons
                include includes/_patron_nav.pug

        else if entity = 'loan'
            #loans
                include includes/_loan_nav.pug

    footer#action 