doctype
html
    //  head - links and metadata
    include includes/_head.pug
    body
        //  navigation
        include ./includes/_nav
        // all other body content
        block main


        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src='/static/scripts/custom.js')