doctype
html
    //  head - links and metadata
    include includes/_app_head.pug
    //  header -- master navigation
    include includes/_master_nav.pug
    //  set the variable entity to book, patron or loan
    block content