extends ./layout

block content
    include ./includes/_head_nav
    .card
        h2=`${title} - ${filter}`
        //if entity === "book"
        //    include ./includes/_book_search
        //if entity === "patron"
        //    include ./includes/_patron_search
        table
            include ./includes/_table_heads
            tbody
                if entity === "book"
                    include ./includes/_table_rows_books
                if entity === "patron"
                    include ./includes/_table_rows_patrons
                if entity === "loan"
                    include ./includes/_table_rows_loans
        include ./includes/_pagination