extends ./layout

block page
    if subjArea === 'books'
        include ./includes/_form_book
    else if subjArea === 'patrons'
        include ./includes/_form_patron
    else if subjArea === 'loans'
        include ./includes/_form_loan
        