extends ./layout

block content
    include ./includes/_head_nav
    if entity === "book"
        include ./includes/_book_form
    else if entity === "patron"
        include ./includes/_patron_form
    else if entity === "loan"
        include ./includes/_loan_form