extends ./layout
block content
    case endpoint
        when "new"
            case entity
                when "book"
                    include includes/_book_form.pug
                when "patron"
                    include includes/_patron_form.pug
                when "loan"
                    include includes/_loan_form.pug
                default
                    include includes/_error.pug
        when "detail"
            case entity
                when "book"
                    include includes/_book_detail.pug
                when "patron"
                    include includes/_patron_detail.pug
                default
                    include includes/_error.pug
        when "return"
            if entity === "loan"
                include includes/_loan_return.pug
            else
                include includes/_error.pug
        when "list"
            case entity
                when "book"
                    include includes/_book_list.pug
                when "patron"
                    include includes/_patron_list.pug
                when "loan"
                    include includes/_loan_list.pug
                default
                    include includes/_error.pug
        default
            include includes/_error.pug