extends ./layout

block page
    if subjArea === 'books'
        include ./includes/_search
    include ./includes/_filters
    table
        include ./includes/_table_headers
        tbody
            if subjArea === "loans"
                include ./includes/_loan_table
            if subjArea === "books"
                include ./includes/_book_table
            if subjArea === "patrons"
                include ./includes/_patron_table
    if subjArea === "books" || subjArea === "loans"
        include ./includes/_pagination