/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) {
    /* Styles */
    body { font-size: 8px;}
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 10% 15%;
        grid-template-areas:
        "brand        brand          brand             brand"
        "app-title    app-title      app-title         app-title"
        "head-books   nav-book-new   nav-book-detail   nav-book-list"
        "head-patrons nav-patron-new nav-patron-detail nav-patron-list"
        "head-loans   nav-loan-new   nav-loan-return   nav-loan-list"
        ;
    }
    
    .workspace {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 15fr;
        grid-template-areas:
            "worktitle"
            "workarea"
            ;
    }
    
    .brand {
        justify-self: center;
        align-self: center;
        height: 50px;
        width: 50px;
    }
    
    .app-title {
        justify-self: center;
        align-self: center;
    }
    
    [class^="head-"] {
        justify-self: end;
        align-self: center;
    }
    
    [class^="nav-"] {
        justify-self: start;
        align-self: center;
    }
    
    [class*='nav-patron'] {
        padding-top: .75em;
        padding-bottom: .75em;
    }

    .workspace {
        display: grid
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 901px) {
    /* Styles */
    .header {
        display: grid;
        grid-template-columns: 60px 6fr 2fr repeat(3, 80px);
        grid-template-rows: 20px 20px 20px;
        grid-template-areas:
        "brand app-title head-books   nav-book-new   nav-book-detail   nav-book-list"
        "brand app-title head-patrons nav-patron-new nav-patron-detail nav-patron-list"
        "brand app-title head-loans   nav-loan-new   nav-loan-return   nav-loan-list"
        ;
        width: 100%;
        padding: .5em;
        margin: 0 auto;
    }

    .brand {
        justify-self: center;
        align-self: start;
        width: 60px;
        height; 60px;
    }
    
    .app-title {
        justify-self: center;
        align-self: center;
    }
    
    .navs {
        justify-self: start;
        align-self: start;
    }
    
    [class*='nav-patron'] {
        padding-top: .75em;
        padding-bottom: .75em;
    }

    .workspace {
        display: grid
    }
}

/* Large Monitors ----------- */
@media only screen  and (min-width : 1211px) {
    /* Styles */
    body { font-size: 1em;}

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5px 8fr;
        grid-template-areas: 
            "headspace"
            "gap"
            "workspace"
            ;
    }

    .header {
        display: grid;
        grid-template-columns: 80px 6fr 2fr repeat(3, 110px);
        grid-template-rows: 25px 25px 25px;
        grid-template-areas:
            "brand app-title head-books   nav-book-new   nav-book-detail   nav-book-list"
            "brand app-title head-patrons nav-patron-new nav-patron-detail nav-patron-list"
            "brand app-title head-loans   nav-loan-new   nav-loan-return   nav-loan-list"
            ;
    }
    
    .brand {
        height: 70px;
        width: 70px;
    }
    
    .app-title {
        justify-self: start;
    }
    
    [class^='head-'] {
        justify-self: end;
    }
    
    [class^='nav-'] {
        justify-self: start;
    }

    }
    
    [class*='nav-patron'] {
        padding-top: .75em;
        padding-bottom: .75em;
    }

    .workspace {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 15fr;
        grid-template-areas:
            "worktitle"
            "workarea"
            ;
    }
}