/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) {
    /* Styles */
    body { font-size: 8px;}
    
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px repeat(6, 12px);
        grid-template-areas:
            ".           brand         ."
            "appTitle    appTitle      appTitle"
            "headBooks   headPatrons   headLoans"
            "bookNew     patronNew     loanNew"
            "bookListAll patronListAll loanListAll"
            "bookListCO  .             loanListCO"
            "bookListOD  .             loanListOD"
            ;
            column-gap: 5px;
    }
    .gap {
        width: 100%;
        height: 5px;
    }
    
    .header,
    .card {
        width: 90%;
        padding: 2.5%;
        margin: 0 auto;       
    }
    
    a.logo img {
        justify-self: center;
        align-self: center;
        height: 50px;
        width: 50px;
        margin: 5% auto;
    }
    
    .app-title {
        justify-self: center;
        align-self: center;
        text-align: center;
        margin: 0 auto;
    }
    
    a.nav,
    h3[class^='head-'] {
        justify-self: start;
    }
    
    .search-grid {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4,12px);
        grid-template-areas:
            "tHead   aHead"
            "tInput  aInput" 
            "gHead   pHead" 
            "gInput  pInput"
            "sButton ."
            ;
        grid-gap: .5em;
    }

    label[class$="-set"],
    label[class$="-set"] {
        justify-self: start;
        align-self: center;
    }
    
    table { border-collapse: separate; border-spacing: 2px; };   /* set the spacing between table cells  */
    
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 901px) {
    /* Styles */
    body { font-size: 12px;}
    
    .header {
        display: grid;
        grid-template-columns: 2fr 9fr repeat(3,2fr);
        grid-template-rows: repeat(5,18px);
        grid-template-areas:
            "brand appTitle headBooks    headPatrons    headLoans"
            "brand appTitle bookNew      patronNew      loanNew"
            "brand appTitle listBooksAll listPatronsAll listLoansAll"
            "brand appTitle listBooksCO  .              listLoansCO"
            "brand appTitle listBooksOD  .              listLoansOD"
            ;
            justify-items: start;
            align-items: center;
        grid-gap: 2%;
        width: 95%;
    }

    .gap {
        height: 10px;
    }
    
    .card {
        width: 80%;
        padding: 1em;
        margin: 0 auto;       
    }

    a.logo img {
        grid-column: 1 / 1;
        width: 65px;
        height: 65px;
        margin: 0;
    }
    
    .app-title {
        grid-column: 2 / span(1);
        justify-self: center;
        align-self: center;
    }

    .search-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2,18px);
        grid-template-areas:
            "tHead   aHead  gHead  pHead  ."
            "tInput  aInput gInput pInput sButton"
            ;
        grid-gap: .5em;
    }

    label[class$="-set"],
    label[class$="-set"] {
        justify-self: start;
        align-self: center;
    }

    table { border-collapse: separate; border-spacing: 2px; };   /* set the spacing between table cells  */
}

/* Large Monitors ----------- */
@media only screen  and (min-width : 1211px) {
    /* Styles */
    body { font-size: 16px;}
    
    a.logo img {
        height: 80px;
        width: 80px;
    }

    .search-grid {
        grid-template-rows: repeat(2, 24px);
    }

    table { border-collapse: separate; border-spacing: 5px; };   /* set the spacing between table cells  */

}