/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) {
    /* Styles */
    body { font-size: 8px;}
    
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60px repeat(6, 12px);
        grid-template-areas:
            "brand       brand         brand"
            "appTitle    appTitle      appTitle"
            "headBooks   headPatrons   headLoans"
            "bookNew     patronNew     loanNew"
            "bookListAll patronListAll loanListAll"
            "bookListCO  .             loanListCO"
            "bookListOD  .             loanListOD"
            ;
        justify-content: space-around;
    }
    .gap {
        height: 5px;
    }
    
    .card {
        width: 95%;        
    }
    
    .logo {
        justify-self: center;
        align-self: center;
        height: 50px;
        width: 50px;
    }
    
    .appTitle {
        justify-self: center;
        align-self: center;
    }
    
    [class^='head-'] {
        justify-self: start;
    }
    
    [class^='nav-'] {
        justify-self: start;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 901px) {
    /* Styles */
    body { font-size: 12px;}

    .header {
        display: grid;
        grid-template-columns: 70px 2fr 130px 100px 130px;
        grid-template-rows: repeat(5, 15px);
        grid-template-areas:
            "brand appTitle headBooks   headPatrons   headLoans"
            "brand appTitle bookNew     patronNew     loanNew"
            "brand appTitle bookListAll patronListAll loanListAll"
            "brand appTitle bookListCO  .             loanListCO"
            "brand appTitle bookListOD  .             loanListOD"
            "brand appTitle bookDetail  patronDetail  loanReturn"
            ;
    }

    .logo {
        justify-self: center;
        align-self: start;
        width: 60px;
        height; 60px;
    }
    
    .app-title {
        justify-self: center;
        align-self: center;
    }
    
    [class^='head-'] {
        justify-self: start;
    }
    
    [class^='nav-'] {
        justify-self: start;
    }
}

/* Large Monitors ----------- */
@media only screen  and (min-width : 1211px) {
    /* Styles */
    body { font-size: 16px;}

    .header {
        display: grid;
        grid-template-columns: 80px 2fr 150px 120px 150px;
        grid-template-rows: repeat(5,20px);
        grid-template-areas:
            "logo appTitle headBooks    headPatrons    headLoans"
            "logo appTitle bookNew      patronNew      loanNew"
            "logo appTitle listBooksAll listPatronsAll listLoansAll"
            "logo appTitle listBooksCO  .              listLoansCO"
            "logo appTitle listBooksOD  .              listLoansOD"
            ;
        padding: .75em 0;
    }

    .card {
        width: 60%;        
    }
    
    .logo {
        height: 70px;
        width: 70px;
        justify-self: center;
        align-self: center;
    }
    
    .app-title {
        justify-self: center;
        align-self: start;
        padding: 0;
        margin: 0;
    }

    [class^='head-'] {
        justify-self: start;
        align-self: center;
    }

    [class^='book-'],
    [class^='patron-'],
    [class^='loan-'] {
        justify-self: start;
        align-self: center;
    }
}