body {
    padding: 50px;
    font-family: 'Play', sans-serif;
    /*font-family: 'Noticia Text', serif;   alternate text if needed */
    font-size: 14px;
    font-size: .75em;
    /*background: url(/static/images/library.jpg) no-repeat fixed center;
    background-size: cover;*/
}

.header {
    position: relative;
    top: 0;
    left: 0;
    background-color: #CECCCC;
    opacity: .80;
    width: 100%;
    padding-bottom: 1em;
}
.img-librarian {
    height: 50px;
    width: 50px;
    display: block;
    padding-top: .75em;
    margin-left: auto;
    margin-right: auto;
}

.head-title {
    text-align: center;
}

nav {
    text-align: center;     /* to make the centering happen */
    padding-bottom: .5em;
}

.nav-patrons {
    padding: 0 .5em 0 .5em;
}

div[class*='nav-'], button {
    width: 60px;
    background-color: white;
    font-size: smaller;
    text-align: center;
    border-radius: 3px;
}

div[class*='nav-book'], button,
div[class*='nav-patron'], button,
div[class*='nav-loan'], button {
    width: 60px;
    background-color: white;
    font-size: smaller;
    text-align: center;
    border-radius: 3px;
}

a {
    color: #0065A4;
    text-decoration: none;
    font-weight: bold;
}
