* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    background: url(/static/images/library.jpg) no-repeat fixed center;
    background-size: cover;
    color: #042356
}

a,
input[type='submit'] {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    display: inline-block;
    color: rgb(17, 109, 167);
    padding-left: 1.5em;
    text-decoration: none;
}

.header {
    width: 95%;
    padding: .5%;
    margin-left: auto;
    margin-right: auto;
}

.header,
.card {
    background-color: #FFFFFF;
    opacity: .95;
    border-radius: 10px;
}

.logo {
    grid-area: brand;
}

.app-title {
    grid-area: appTitle;
}

.head-books {
    grid-area: headBooks;
}

.head-patrons {
    grid-area: headPatrons;
}

.head-loans {
    grid-area: headLoans;
}

.book-new {
    grid-area: bookNew;
}

.patron-new {
    grid-area: patronNew;
}

.loan-new {
    grid-area: loanNew;
}

.book-list-all {
    grid-area: listBooksAll;
}

.patron-list-all {
    grid-area: listPatronsAll;
}

.loan-list-all {
    grid-area: listLoansAll;
}

.book-list-co {
    grid-area: listBooksCO;
}

.loan-list-co {
    grid-area: listLoansCO;
}

.book-list-od {
    grid-area: listBooksOD;
}

.loan-list-od {
    grid-area: listLoansOD;
}

[class^='head-'],
.app-title {
    margin: 0;
    padding: 0;
}

.card h2 {
    text-align: left;
    margin-top: 0;
}

.card table {
    padding: 1em;
    margin: auto;
}

label.title-set {
    grid-area: tHead;
}

label.author-set > {
    grid-area: aHead;
}

label.genre-set {
    grid-area: gHead;
}

label.published-set {
    grid-area: pHead;
}

input.title-set {
    grid-area: tInput;
}

input.author-set {
    grid-area: aInput;
}

input.genre-set {
    grid-area: gInput;
}

input.published-set {
    grid-area: pInput;
}

input.submit {
    grid-area: sButton;
    margin-top: 1em;
}

th {
    text-align: left;
}

td a,
a.nav {              /*  allows links to justify with heads  */
    padding: 0;
}

.pagination {
    padding: 2em 0;
}

ul.pagination li {
    display: inline;
}

tr:nth-child(2n) {
    background-color: #E6DEAD;
}

.return-label {
    display: inline;
    width: 30%;
    padding-right: 3em;
}

.return-text {
    font-style: italic;
}

.input-set label {
    display: inline-block;
    width: 30%;
    text-align: right;
    padding-right: 1em;
}

.input-set input,
.input-set select {
    width: 40%;
    text-align: left;
}

a.page,
input[type='submit'],
.button {
    background-color: #042356;
    border: 1px solid #042356;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 0 1em;
    margin: 0 auto;
}

input[type='text'] {
    background-color: rgb(209, 234, 248);
    border: 1px solid #042356;
}

.page {
    display: inline;
    text-decoration: none;
}
